<div class="s-layout__sidebar">
  <a class="s-sidebar__trigger">
    <i class="fa fa-bars"></i>
  </a>

  <nav class="s-sidebar__nav">
    <ul>
      <li>
        <img
          src="../../../../assets/images/spotify-logo.png"
          class="spotify__img"
        />
      </li>
      <li>
        <a class="s-sidebar__nav-link" [routerLink]="['/home']">
          <i class="fa fa-home"></i><em>Home</em>
        </a>
      </li>
      <li>
        <a class="s-sidebar__nav-link" [routerLink]="['/search']">
          <i class="fa fa-search"></i><em>Search</em>
        </a>
      </li>
      <li>
        <a class="s-sidebar__nav-link" (click)="openRegisterArtistDialog()">
          <i class="fa fa-id-card"></i><em>Register an artist</em>
        </a>
      </li>
    </ul>
  </nav>
</div>
