<div class="container" *ngIf="songs">
  <div class="row">
    <div class="col" *ngFor="let song of songs.albums.items; let i = index">
      <div class="card">
        <div class="main">
          <img
            class="image"
            [src]="
              song.images.length == 0
                ? '../../../assets/images/noimage.jpg'
                : song.images[0].url
            "
          />
          <p class="text">{{ song.name }}</p>
          <p class="text" *ngIf="song.release_date">released on {{ song.release_date }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
